@import '@fontsource/poppins'; 

body {
  margin: 0;
}

.shadow-box {
  box-shadow: 0px 1px 2px 0px #1018280D;
}

.container-feature {
  background: linear-gradient(180deg, #efeff3 0%, #FFFFFF 100%);
}

.whiteButton {
  background: white;
  color: #344054;
  border: 1px solid #D0D5DD;
}

.pointer {
  cursor: pointer;
}